*{
  margin: 0px;
  padding: 0px;
}

html,
body{
  font-size: 20px;
  background-color: antiquewhite;
  
}
h1 {
  font-size: 55px;
  color: darkcyan;
  text-align: center;
}

.contenedorpcpal{
  background-color: rgb(238, 225, 217);
  margin: 10px;

}

.img1{
width: 350px;
margin: 25px;
}

.nombre-receta{
  margin: 7px;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium';
  color:saddlebrown;
  text-align: center;
  
}

.ingredientes-receta {
  
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: aliceblue;
  gap: 4px;
  grid-auto-flow: column;
  margin: 10px;
}

.Ingredientes{
  margin: 20px;
}

.pasos-receta{
  margin: 10px;
  background-color: aliceblue;
  font-size: 15px;
  text-align: center;
  
  
}

